{{#extend "layout"}}
  {{#content "title"}}{{basics.name}}{{/content}}
  {{#content "header"}}
    {{#if basics.picture }}
        <div class="profile-pic pull-left">
            <img data-src="holder.js/100x100" alt="{{basics.name}}" src="{{basics.picture}}" class="media-object img-circle">
        </div>
        {{#if basics.name }}
            <h2>{{basics.name}}</h2>
        {{/if}}
        {{#if basics.label }}
            <h4>{{basics.label}}</h4>
        {{/if}}
        <div class="clearfix"></div>
    {{else}}
      {{#if basics.name }}
          <h2>{{basics.name}}</h2>
      {{/if}}
      {{#if basics.label }}
          <h4>{{basics.label}}</h4>
      {{/if}}
      <div class="clearfix"></div>
    {{/if}}
    {{#if basics.profiles.length}}
        <ul class="nav navbar-nav">
          {{#each basics.profiles}}
              <li>
                  <a href="{{url}}" rel="tooltip" title="{{username}} on {{network}}">
                      <i class="fa fa-{{toLower network}} fa-2x"></i>
                  </a>
              </li>
          {{/each}}
        </ul>
    {{/if}}
    <ul class="nav navbar-nav navbar-right">
      {{#if basics.website }}
          <li><a href="{{basics.website}}"><i class="fa fa-link">{{basics.website}}</i></a></li>
      {{/if}}
      {{#if basics.email }}
          <li><a href="mailto:{{basics.email}}"><i class="fa fa-envelope">{{basics.email}}</i></a></li>
      {{/if}}
      {{#if basics.location }}
          <li>
              <a href="#">
                  <i class="fa fa-map-marker">
                    {{#if basics.location.city}}
                      {{#if basics.location.countryCode}}
                        {{#if basics.location.region}}
                          {{basics.location.city}}, {{basics.location.region}}, {{basics.location.countryCode}}
                        {{else}}
                          {{basics.location.city}}, {{basics.location.countryCode}}
                        {{/if}}
                      {{else}}
                        {{#if basics.location.region}}
                          {{basics.location.city}}, {{basics.location.region}}
                        {{else}}
                          {{basics.location.city}}
                        {{/if}}
                      {{/if}}
                    {{else}}
                      {{#if basics.location.countryCode}}
                        {{#if basics.location.region}}
                          {{basics.location.region}}, {{basics.location.countryCode}}
                        {{else}}
                          {{basics.location.countryCode}}
                        {{/if}}
                      {{else}}
                        {{#if basics.location.region}}
                          {{basics.location.region}}
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  </i>
              </a>
          </li>
      {{/if}}
      {{#if basics.phone }}
          <li><a href="#">{{basics.phone}}</a></li>
      {{/if}}
    </ul>
  {{/content}}
  {{#content "summary"}}
      <article>
          <div class="row">
              <div class="col-xs-1">
                  <i class="fa fa-user fa-2x fa-border fa-pull-left"></i>
              </div>
              <div class="col-xs-11">
                  <header id="header-summary">
                      <h4 class="title text-uppercase clearfix">Summary</h4>
                  </header>
                  <p class="summary">{{basics.summary}}</p>
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "experience"}}
      <article>
          <div class="row">
              <div class="col-xs-1">
                  <i class="fa fa-building fa-2x fa-border fa-pull-left"></i>
              </div>
              <div class="col-xs-11">
                  <header id="header-skills">
                      <h4 class="title text-uppercase clearfix">Experience</h4>
                      <hr>
                  </header>
                {{#if work.length}}
                    <ul class="experiences">
                      {{#each work}}
                          <li class="experiences-experience">
                            {{#if website}}
                                <h4 class="experience-company pull-left"><a href="{{website}}">{{company}}</a></h4>
                            {{else}}
                                <h4 class="experience-company pull-left">{{company}}</h4>
                            {{/if}}
                              <time class="date pull-left text-muted">
                                {{dateRange startDate endDate "MMMM, YYYY"}}
                              </time>
                              <div class="clearfix"></div>
                            {{#if position}}
                                <h5 class="experience-position">{{position}}</h5>
                            {{/if}}
                            {{#if summary}}
                                <div class="experience-summary">
                                    <p>{{summary}}</p>
                                </div>
                            {{/if}}
                            {{#if highlights.length}}
                                <ul class="experience-highlights">
                                  {{#each highlights}}
                                      <li class="experience-highlight">{{.}}</li>
                                  {{/each}}
                                </ul>
                            {{/if}}
                          </li>
                      {{/each}}
                    </ul>
                {{/if}}
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "skills"}}
      <article>
          <div class="row">
              <div class="col-xs-1">
                  <i class="fa fa-cog fa-2x fa-border fa-pull-left"></i>
              </div>
              <div class="col-xs-11">
                  <header id="header-skills">
                      <h4 class="title text-uppercase clearfix">Skills</h4>
                      <hr>
                  </header>
                {{#if skills.length}}
                    <ul class="skills">
                      {{#each skills}}
                          <li class="skills-skill">
                            {{#if name}}
                                <h4 id="skills-name">{{name}}</h4>
                            {{/if}}
                            {{#if keywords.length}}
                                <ul class="keywords">
                                  {{#each keywords}}
                                      <li class="btn btn-info pull-left keyword">{{.}}</li>
                                  {{/each}}
                                </ul>
                                <div class="clearfix"></div>
                            {{/if}}
                          </li>
                      {{/each}}
                    </ul>
                {{/if}}
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "education"}}
      <article>
          <div class="row">
              <div class="col-xs-1">
                  <i class="fa fa-book fa-2x fa-border fa-pull-left"></i>
              </div>
              <div class="col-xs-11">
                  <header id="header-education">
                      <h4 class="title text-uppercase clearfix">Education</h4>
                      <hr>
                  </header>
                {{#each education}}
                  {{#if area}}
                      <h4 class="area pull-left">{{area}} {{studyType}}</h4>
                  {{/if}}
                    <time class="date pull-left text-muted">
                      {{dateRange startDate endDate "MMMM, YYYY"}}
                    </time>
                    <div class="clearfix"></div>
                  {{#if institution}}
                      <h5 class="education-institution">{{institution}}</h5>
                  {{/if}}
                  {{#if gpa}}
                      <div class="education-gpa">GPA: {{gpa}}</div>
                  {{/if}}
                  {{#if courses.length}}
                      <ul class="education-courses">
                        {{#each courses}}
                            <li class="education-course">{{.}}</li>
                        {{/each}}
                      </ul>
                  {{/if}}
                {{/each}}
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "awards"}}
      <article>
          <div class="row">
              <div class="col-xs-1">
                  <i class="fa fa-trophy fa-2x fa-border fa-pull-left"></i>
              </div>
              <div class="col-xs-11">
                  <header id="header-awards">
                      <h4 class="title text-uppercase clearfix">Awards</h4>
                      <hr>
                  </header>
                {{#each awards}}
                  {{#if title}}
                      <h4 class="awards-title pull-left">{{title}}</h4>
                  {{/if}}
                  {{#if date}}
                      <time class="date pull-left text-muted">
                          <time class="awards-date" datetime="{{date}}">Awarded on: {{moment date "MMMM D, YYYY"}}</time>
                      </time>
                      <div class="clearfix"></div>
                  {{/if}}
                  {{#if awarder}}
                      <h5 class="awards-awarder">{{awarder}}</h5>
                  {{/if}}
                  {{#if summary}}
                      <div class="awards-summary">
                          <p>{{summary}}</p>
                      </div>
                  {{/if}}
                {{/each}}
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "volunteer"}}
      <article>
          <div class="row">
              <div class="col-xs-1">
                  <i class="fa fa-users fa-2x fa-border fa-pull-left"></i>
              </div>
              <div class="col-xs-11">
                  <header id="header-volunteer">
                      <h4 class="title text-uppercase clearfix">Volunteer Work</h4>
                      <hr>
                  </header>
                {{#each volunteer}}
                  {{#if position}}
                    {{#if website}}
                        <h4 class="volunteer-position pull-left">{{position}}, <a href="{{website}}">{{organization}}</a></h4>
                    {{else}}
                        <h4 class="volunteer-position pull-left">{{position}}, {{organization}}</h4>
                    {{/if}}
                  {{/if}}
                    <time class="date pull-left text-muted">
                      {{dateRange startDate endDate "MMMM, YYYY"}}
                    </time>
                    <div class="clearfix"></div>
                  {{#if summary}}
                      <div class="volunteer-summary">
                          <p>{{summary}}</p>
                      </div>
                  {{/if}}
                  {{#if highlights.length}}
                      <ul class="volunteer-highlights">
                        {{#each highlights}}
                            <li>{{.}}</li>
                        {{/each}}
                      </ul>
                  {{/if}}
                {{/each}}
              </div>
      </article>
  {{/content}}
  {{#content "publications"}}
      <article>
          <div class="row">
              <div class="col-xs-1">
                  <i class="fa fa-print fa-2x fa-border fa-pull-left"></i>
              </div>
              <div class="col-xs-11">
                  <header id="header-publications">
                      <h4 class="title text-uppercase clearfix">Publications</h4>
                      <hr>
                  </header>
                {{#each publications}}
                  {{#if name}}
                    {{#if website}}
                        <h4 class="publications-name pull-left"><a href="{{website}}">{{name}}</a></h4>
                    {{else}}
                        <h4 class="publications-name pull-left">{{name}}</h4>
                    {{/if}}
                  {{/if}}
                  {{#if releaseDate}}
                      <time class="date pull-left text-muted">
                          <time class="publications-releaseDate" datetime="{{releaseDate}}">Published on: {{moment releaseDate "MMMM D, YYYY"}}</time>
                      </time>
                      <div class="clearfix"></div>
                  {{/if}}
                  {{#if publisher}}
                      <h5 class="publications-publisher">{{publisher}}</h5>
                  {{/if}}
                  {{#if summary}}
                      <div class="publications-summary">
                          <p>{{summary}}</p>
                      </div>
                  {{/if}}
                {{/each}}
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "interests"}}
      <article>
          <div class="row">
              <div class="col-xs-1">
                  <i class="fa fa-pencil fa-2x fa-border fa-pull-left"></i>
              </div>
              <div class="col-xs-11">
                  <header id="header-interests">
                      <h4 class="title text-uppercase clearfix">Interests</h4>
                      <hr>
                  </header>
                {{#each interests}}
                  {{#if name}}
                      <h4 id="interests-name">{{name}}</h4>
                  {{/if}}
                  {{#if keywords.length}}
                      <ul class="keywords">
                        {{#each keywords}}
                            <li class="btn btn-info pull-left keyword">{{.}}</li>
                        {{/each}}
                      </ul>
                      <div class="clearfix"></div>
                  {{/if}}
                {{/each}}
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "references"}}
      <article>
          <div class="row">
              <div class="col-xs-1">
                  <i class="fa fa-thumbs-up fa-2x fa-border fa-pull-left"></i>
              </div>
              <div class="col-xs-11">
                  <header id="header-references">
                      <h4 class="title text-uppercase clearfix">References</h4>
                      <hr>
                  </header>
                {{#if references.length}}
                    <ul class="references">
                      {{#each references}}
                          <li class="references-reference">
                            {{#if name}}
                                <h4 id="references-name">{{name}}</h4>
                            {{/if}}
                            {{#if reference}}
                                <p>{{reference}}</p>
                            {{/if}}
                          </li>
                      {{/each}}
                    </ul>
                {{/if}}
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "footer"}}
  {{/content}}
{{/extend}}
