{{#extend "layout"}}
  {{#content "title"}}{{basics.name}}{{/content}}
  {{#content "header"}}
      <h2>{{basics.name}}</h2>
  {{/content}}
  {{#content "summary"}}
      <i class="fa fa-user fa-3x fa-border fa-pull-left"></i>
      <h2 class="sectionTitle clearfix">Summary</h2>
      <p class="summary">{{basics.summary}}</p>
  {{/content}}
  {{#content "experience"}}
      <i class="fa fa-suitcase fa-3x fa-border fa-pull-left"></i>
      <h2 class="sectionTitle clearfix">Experience</h2>
      {{#each work}}
          <article class="item">
              <time class="date">
                {{#if endDate}}
                  {{#if startDate}}
                      <time class="startDate" datetime="{{startDate}}">{{startDate}}</time>
                      <time class="endDate" datetime="{{endDate}}">- {{endDate}}</time>
                  {{else}}
                      <time class="endDate" datetime="{{endDate}}">{{endDate}}</time>
                  {{/if}}
                {{else}}
                    <span class="endDate">Present</span>
                {{/if}}
              </time>
              <hgroup>
                {{#if company}}
                    <h4 class="company">{{company}}</h4>
                {{/if}}
                {{#if position}}
                    <h5 class="position">{{position}}</h5>
                {{/if}}
              </hgroup>
            {{#if website}}
                <div class="website">
                    <a href="{{website}}">{{website}}</a>
                </div>
            {{/if}}
            {{#if summary}}
                <div class="summary">
                    <p>{{summary}}</p>
                </div>
            {{/if}}
            {{#if highlights.length}}
                <ul class="highlights">
                  {{#each highlights}}
                      <li>{{.}}</li>
                  {{/each}}
                </ul>
            {{/if}}
          </article>
      {{/each}}
  {{/content}}
  {{#content "education"}}
      <i class="fa fa-university fa-3x fa-border fa-pull-left"></i>
      <h2 class="sectionTitle clearfix">Education</h2>
      {{#each education}}
          <article class="item">
              <time class="date">
                {{#if endDate}}
                  {{#if startDate}}
                      <time class="startDate" datetime="{{startDate}}">{{startDate}}</time>
                      <time class="endDate" datetime="{{endDate}}">- {{endDate}}</time>
                  {{else}}
                      <time class="endDate" datetime="{{endDate}}">{{endDate}}</time>
                  {{/if}}
                {{else}}
                    <span class="endDate">Present</span>
                {{/if}}
              </time>
              <hgroup>
                {{#if area}}
                    <h4>{{area}} {{studyType}}</h4>
                {{/if}}
                {{#if institution}}
                    <h5 class="institution">{{institution}}</h5>
                {{/if}}
              </hgroup>
          </article>
      {{/each}}
  {{/content}}
  {{#content "skills"}}
      <i class="fa fa-pencil fa-3x fa-border fa-pull-left"></i>
      <h2 class="sectionTitle clearfix">Skills</h2>
      {{#each skills}}
          <article class="item">
            {{#if name}}
                <h4>{{name}}</h4>
            {{/if}}
            {{#if keywords.length}}
                <ul class="keywords">
                  {{#each keywords}}
                      <li>{{.}}</li>
                  {{/each}}
                </ul>
            {{/if}}
          </article>
      {{/each}}
  {{/content}}
  {{#content "interests"}}
      <i class="fa fa-pencil fa-3x fa-border fa-pull-left"></i>
      <h2 class="sectionTitle clearfix">Interests</h2>
      {{#each interests}}
          <article class="item">
            {{#if name}}
                <h5>{{name}}</h5>
            {{/if}}
            {{#if keywords.length}}
                <ul class="keywords">
                  {{#each keywords}}
                      <li>{{.}}</li>
                  {{/each}}
                </ul>
            {{/if}}
          </article>
      {{/each}}
  {{/content}}
  {{#content "footer"}}
      <i class="fa fa-inbox fa-3x fa-border"></i>
      {{#if basics.website }}
          <div class="website">
              <a href="{{basics.website}}">{{basics.website}}</a>
          </div>
      {{/if}}
      {{#if basics.email }}
          <div class="email">
              <a href="mailto:{{basics.email}}">{{basics.email}}</a>
          </div>
      {{/if}}
      <div class="separator"></div>
      {{#if basics.profiles.length}}
          <section id="profiles">
            {{#each basics.profiles}}
                <article class="item">
                  {{#if network}}
                      <div class="network">
                          <i class="fa fa-{{toLower network}} fa-2x fa-border"></i>
                      </div>
                  {{/if}}
                  {{#if url}}
                      <div class="website">
                          <a href="{{url}}">{{url}}</a>
                      </div>
                  {{/if}}
                </article>
            {{/each}}
          </section>
      {{/if}}
      {{#if basics.phone }}
          <div class="phone">{{basics.phone}}</div>
      {{/if}}
  {{/content}}
{{/extend}}
