{{#extend "layout"}}
  {{#content "title"}}{{basics.name}}{{/content}}
  {{#content "header"}}
    {{#if basics.picture }}
        <div class="profile-pic pull-left">
            <img data-src="holder.js/100x100" alt="{{basics.name}}" src="{{basics.picture}}" class="media-object img-circle">
        </div>
        {{#if basics.name }}
            <h2>{{basics.name}}</h2>
        {{/if}}
        {{#if basics.label }}
            <h4>{{basics.label}}</h4>
        {{/if}}
        <div class="clearfix"></div>
    {{else}}
      {{#if basics.name }}
          <h2>{{basics.name}}</h2>
      {{/if}}
      {{#if basics.label }}
          <h4>{{basics.label}}</h4>
      {{/if}}
      <div class="clearfix"></div>
    {{/if}}
    {{#if basics.profiles.length}}
        <ul class="nav navbar-nav">
          {{#each basics.profiles}}
              <li>
                  <a href="{{url}}" rel="tooltip" title="{{username}} on {{network}}">
                      <i class="fa fa-{{toLower network}} fa-2x"></i>
                  </a>
              </li>
          {{/each}}
        </ul>
    {{/if}}
    <ul class="nav navbar-nav navbar-right">
      {{#if basics.website }}
          <li><a href="{{basics.website}}"><i class="fa fa-link">{{basics.website}}</i></a></li>
      {{/if}}
      {{#if basics.email }}
          <li><a href="mailto:{{basics.email}}"><i class="fa fa-envelope">{{basics.email}}</i></a></li>
      {{/if}}
      {{#if basics.location }}
          <li><a href="#"><i class="fa fa-map-marker">{{basics.location.city}}, {{basics.location.countryCode}}</i></a></li>
      {{/if}}
      {{#if basics.phone }}
          <li><a href="#">{{basics.phone}}</a></li>
      {{/if}}
    </ul>
  {{/content}}
  {{#content "summary"}}
      <div class="row">
          <header id="header-summary">
              <i class="fa fa-user fa-2x fa-border fa-pull-left"></i>
              <h4 class="title text-uppercase clearfix">Summary</h4>
          </header>
      </div>
      <p class="summary">{{basics.summary}}</p>
  {{/content}}
  {{#content "experience"}}
      <article>
          <div class="row">
              <header id="header-experience">
                  <i class="fa fa-building fa-2x fa-border fa-pull-left"></i>
                  <h4 class="title text-uppercase clearfix">Experience</h4>
              </header>
          </div>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11">
                {{#each work}}
                    <div class="row">
                      {{#if website}}
                          <h4 class="company pull-left"><a href="{{website}}">{{company}}</a></h4>
                      {{else}}
                          <h4 class="company pull-left">{{company}}</h4>
                      {{/if}}
                        <time class="date">
                          {{#if endDate}}
                            {{#if startDate}}
                                <span class="startDate" datetime="{{startDate}}">{{startDate}}</span>
                                <span class="endDate" datetime="{{endDate}}">- {{endDate}}</span>
                            {{else}}
                                <span class="endDate" datetime="{{endDate}}">{{endDate}}</span>
                            {{/if}}
                          {{else}}
                              <span class="endDate">Present</span>
                          {{/if}}
                        </time>
                        <div class="clearfix"></div>
                      {{#if position}}
                          <h5 class="position">{{position}}</h5>
                      {{/if}}
                    </div>
                    <div class="row">
                      {{#if summary}}
                          <div class="summary">
                              <p>{{summary}}</p>
                          </div>
                      {{/if}}
                    </div>
                    <div class="row">
                      {{#if highlights.length}}
                          <ul class="highlights">
                            {{#each highlights}}
                                <li>{{.}}</li>
                            {{/each}}
                          </ul>
                      {{/if}}
                    </div>
                {{/each}}
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "skills"}}
      <article>
          <div class="row">
              <header id="header-skills">
                  <i class="fa fa-cog fa-2x fa-border fa-pull-left"></i>
                  <h4 class="title text-uppercase clearfix">Skills</h4>
              </header>
          </div>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11">
                {{#each skills}}
                  {{#if name}}
                      <h4 id="skills-name">{{name}}</h4>
                  {{/if}}
                  {{#if keywords.length}}
                      <ul class="skills-keywords">
                        {{#each keywords}}
                            <li class="skills-keyword pull-left">{{.}}</li>
                        {{/each}}
                      </ul>
                      <div class="clearfix"></div>
                  {{/if}}
                {{/each}}
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "education"}}
      <article>
          <div class="row">
              <header id="header-education">
                  <i class="fa fa-book fa-2x fa-border fa-pull-left"></i>
                  <h4 class="title text-uppercase clearfix">Education</h4>
              </header>
          </div>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11">
                {{#each education}}
                    <div class="row">
                      {{#if area}}
                          <h4 class="area pull-left">{{area}} {{studyType}}</h4>
                      {{/if}}
                        <time class="date">
                          {{#if endDate}}
                            {{#if startDate}}
                                <time class="startDate" datetime="{{startDate}}">{{startDate}}</time>
                                <time class="endDate" datetime="{{endDate}}">- {{endDate}}</time>
                            {{else}}
                                <time class="endDate" datetime="{{endDate}}">{{endDate}}</time>
                            {{/if}}
                          {{else}}
                              <span class="endDate">Present</span>
                          {{/if}}
                        </time>
                        <div class="clearfix"></div>
                      {{#if institution}}
                          <h5 class="institution">{{institution}}</h5>
                      {{/if}}
                    </div>
                    <div class="row">
                      {{#if gpa}}
                          <div class="gpa">GPA: {{gpa}}</div>
                      {{/if}}
                    </div>
                    <div class="row">
                      {{#if courses.length}}
                          <ul class="courses">
                            {{#each courses}}
                                <li>{{.}}</li>
                            {{/each}}
                          </ul>
                      {{/if}}
                    </div>
                {{/each}}
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "interests"}}
      <article>
          <div class="row">
              <header id="header-interests">
                  <i class="fa fa-pencil fa-2x fa-border fa-pull-left"></i>
                  <h4 class="title text-uppercase clearfix">Interests</h4>
              </header>
          </div>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11">
                {{#each interests}}
                    <div class="row">
                      {{#if name}}
                          <h4 id="interests-name">{{name}}</h4>
                      {{/if}}
                      {{#if keywords.length}}
                          <ul class="interests-keywords">
                            {{#each keywords}}
                                <li class="interests-keyword">{{.}}</li>
                            {{/each}}
                          </ul>
                      {{/if}}
                    </div>
                {{/each}}
              </div>
          </div>
      </article>
  {{/content}}
  {{#content "footer"}}
  {{/content}}
{{/extend}}
