{{#extend "layout"}}
  {{#content "title"}}{{basics.name}}{{/content}}
  {{#content "header"}}
      <h2>{{basics.name}}</h2>
      <h4>{{basics.label}}</h4>
      {{#if basics.profiles.length}}
          <ul class="nav navbar-nav">
            {{#each basics.profiles}}
                <li><a href="{{url}}"><i class="fa fa-{{toLower network}} fa-border"></i>{{username}}</a></li>
            {{/each}}
          </ul>
      {{/if}}
      <ul class="nav navbar-nav navbar-right">
        {{#if basics.website }}
            <li><a href="{{basics.website}}">{{basics.website}}</a></li>
        {{/if}}
        {{#if basics.email }}
            <li><a href="mailto:{{basics.email}}">{{basics.email}}</a></li>
        {{/if}}
        {{#if basics.phone }}
            <li><a href="#">{{basics.phone}}</a></li>
        {{/if}}
      </ul>
  {{/content}}
  {{#content "summary"}}
      <i class="fa fa-user fa-2x fa-border fa-pull-left"></i>
      <h2 class="sectionTitle clearfix">Summary</h2>
      <p class="summary">{{basics.summary}}</p>
  {{/content}}
  {{#content "experience"}}
      <article>
          <header>
              <i class="fa fa-suitcase fa-2x fa-border fa-pull-left"></i>
              <h2 class="sectionTitle clearfix">Experience</h2>
          </header>
          <div class="col-md-1"></div>
          <div class="col-md-11">
            {{#each work}}
                <div class="row">
                  {{#if website}}
                      <h4 class="company pull-left"><a href="{{website}}">{{company}}</a></h4>
                  {{else}}
                      <h4 class="company pull-left">{{company}}</h4>
                  {{/if}}
                    <time class="date">
                      {{#if endDate}}
                        {{#if startDate}}
                            <span class="startDate" datetime="{{startDate}}">{{startDate}}</span>
                            <span class="endDate" datetime="{{endDate}}">- {{endDate}}</span>
                        {{else}}
                            <span class="endDate" datetime="{{endDate}}">{{endDate}}</span>
                        {{/if}}
                      {{else}}
                          <span class="endDate">Present</span>
                      {{/if}}
                    </time>
                    <div class="clearfix"></div>
                  {{#if position}}
                      <h5 class="position">{{position}}</h5>
                  {{/if}}
                </div>
                <div class="row">
                  {{#if summary}}
                      <div class="summary">
                          <p>{{summary}}</p>
                      </div>
                  {{/if}}
                </div>
                <div class="row">
                  {{#if highlights.length}}
                      <ul class="highlights">
                        {{#each highlights}}
                            <li>{{.}}</li>
                        {{/each}}
                      </ul>
                  {{/if}}
                </div>
            {{/each}}
          </div>
      </article>
  {{/content}}
  {{#content "education"}}
      <i class="fa fa-university fa-2x fa-border fa-pull-left"></i>
      <h2 class="sectionTitle clearfix">Education</h2>
      {{#each education}}
          <article class="item">
              <time class="date">
                {{#if endDate}}
                  {{#if startDate}}
                      <time class="startDate" datetime="{{startDate}}">{{startDate}}</time>
                      <time class="endDate" datetime="{{endDate}}">- {{endDate}}</time>
                  {{else}}
                      <time class="endDate" datetime="{{endDate}}">{{endDate}}</time>
                  {{/if}}
                {{else}}
                    <span class="endDate">Present</span>
                {{/if}}
              </time>
              <hgroup>
                {{#if area}}
                    <h4>{{area}} {{studyType}}</h4>
                {{/if}}
                {{#if institution}}
                    <h5 class="institution">{{institution}}</h5>
                {{/if}}
              </hgroup>
          </article>
      {{/each}}
  {{/content}}
  {{#content "skills"}}
      <i class="fa fa-pencil fa-2x fa-border fa-pull-left"></i>
      <h2 class="sectionTitle clearfix">Skills</h2>
      {{#each skills}}
          <article class="item">
            {{#if name}}
                <h4>{{name}}</h4>
            {{/if}}
            {{#if keywords.length}}
                <ul class="keywords">
                  {{#each keywords}}
                      <li>{{.}}</li>
                  {{/each}}
                </ul>
            {{/if}}
          </article>
      {{/each}}
  {{/content}}
  {{#content "interests"}}
      <i class="fa fa-pencil fa-2x fa-border fa-pull-left"></i>
      <h2 class="sectionTitle clearfix">Interests</h2>
      {{#each interests}}
          <article class="item">
            {{#if name}}
                <h5>{{name}}</h5>
            {{/if}}
            {{#if keywords.length}}
                <ul class="keywords">
                  {{#each keywords}}
                      <li>{{.}}</li>
                  {{/each}}
                </ul>
            {{/if}}
          </article>
      {{/each}}
  {{/content}}
  {{#content "footer"}}
  {{/content}}
{{/extend}}
